<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

	<%- include('partials/head') %>

		<body>
			<!-- /Header -->
			<%- include('partials/header') %>

				<!-- Novedades -->
				<div class="container products-wrapper">
					<div class="row">
						<div class="col-12">
							<h2 class="products-title">Ingresar</h2>
						</div>
						<!-- Show the "ultimos" products -->
						<form method="POST">
							<p>Nombre de usuario <input type="text" name="username"></p>
							<p>Contraseña <input type="password" name="password"></p>
							<p><button type="submit">Ingresar</button></p>
							<div class="input-container ic1">
								<input type="checkbox" name="rememberme" id="recordarme"> Recordarme?
							</div>
							<p class="register-text">No tienes una cuenta? <a href="/users/register" class="register-link">Registrate</a></p>
						</form>
						</div>
					</div>
					
				<!-- footer -->
				<%- include('partials/footer') %>
				<!-- /footer -->
		</body>

</html>

