<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/headerLogueado') %> 
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Agregar productos</h2>
            </div>
            <!-- Show the "ultimos" products -->
            <div>
                <form method="POST">
                    <label>Imagen:</label>
                    <input type="text" placeholder="imagen del producto" name="imagen" required
                        class="form-input"><br>
    
                    <label>Nombre del producto:</label>
                    <input type="text" placeholder="ingrese nombre del producto"
                        name="nombre" required class="form-input"><br>
    
                    <label>Descripción:</label>
                    <textarea placeholder="ingrese una breve descripcion del producto"
                        name="descripcion" required class="form-input"></textarea><br>
    
                    <button type="submit">Agregar producto</button>
                </form>
    
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>